<form class="delete-form"
      method="post"
      action="{{ path('member_delete', { 'id' : member.id }) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le membre ' + '{{ member.name }}' + ' ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="argonaut-button">{{ member.name }}</button>
</form>