@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'variables.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background: #f4f4f4;
    text-align: center;
    padding: 2em;
}

header img {
    max-width: 96px;
}

header h1 {
    font-size: 2.5em;
}

footer {
    background: #f76c6c;
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

.new-member-form {
    margin: 2em 0 4em 0;
    text-align: center;
}

.member-item {
    padding: 0.25em 0;
}

footer {
    margin-top: 2em;
    text-align: center;
    color: #fff;
    background: #f76c6c;
    padding: 0.25em 0;
}

/** Flash messages */

.alert {
    position: relative;
    padding: $spacing2;
    margin-bottom: $spacing;
    border: 1px solid;
    border-radius: 4px;
}

.alert {
    margin: $spacing $spacing3;
    text-align: center;
}

.alert-success {
    background-color: #d1e7dd;
    border: 1px solid #a9e0c8;
    color: #0f5132;
}


.alert-danger {
    background-color: #eab6bb;
    border: 1px solid #dc9cac;
    color: #a92633;
}

.alert-info {
    background-color: #b6e4ea;
    border: 1px solid #9cd5dc;
    color: #366b75;
}

/** Flash messages ends */

/** Form */

.argonaut-form {
    text-align: center;
    margin-bottom: $spacing4 * 2;
}

/** Form ends */

/** Argonaut list */

.member-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

/** Argonaut list ends */