@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'variables.scss';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    max-width: 960px;
    margin: 0 auto;
    flex: 1 0 auto;
}

header {
    background: #f4f4f4;
    text-align: center;
    padding: 2em;
}

header img {
    max-width: 96px;
}

header h1 {
    font-size: 2.5em;
}

header > h1 > a {
    text-decoration: none;
    outline: none;
    color: black;
}

h1, h2 {
    text-align: center;
    margin: $spacing4 0;
}

.help {
    font-size: small;
    text-align: center;
    margin: $spacing2;
}

label {
    display: block;
    margin-bottom: $spacing;
}

hr {
    border: 1px solid #ED6C6D;
}

.name-field {
    border-radius: $spacing / 2;
    border: 1px solid black;
    height: $spacing3;
}

.form-button {
    height: $spacing3;
    background-color: #ED6C6D;
    color: #fff;
    border-radius: $spacing / 2;
    border: none;
    cursor: pointer;
}

/** Flash messages */

.alert {
    padding: $spacing2;
    margin: $spacing $spacing3;
    border: 1px solid;
    border-radius: $spacing / 2;
    text-align: center;
}

.alert-success {
    background-color: #d1e7dd;
    border: 1px solid #a9e0c8;
    color: #0f5132;
}


.alert-danger {
    background-color: #eab6bb;
    border: 1px solid #dc9cac;
    color: #a92633;
}

.alert-info {
    background-color: #b6e4ea;
    border: 1px solid #9cd5dc;
    color: #366b75;
}

/** Flash messages ends */

/** Form */

.argonaut-form {
    text-align: center;
    margin-bottom: $spacing4;
}

/** Form ends */

/** Argonaut list */

.member-count {
    color: #ED6C6D;
}

.member-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.argonaut-button {
    border: 1px solid #ED6C6D;
    border-radius: $spacing3;
    background: inherit;
    font-size: 12pt;
    font-family: inherit;
    cursor: pointer;
    padding: $spacing2 0;
    margin: $spacing $spacing2;
    width: $spacing6 * 4;
    height: $spacing4 * 2;

    &:hover {
        background-color: #ED6C6D;
        color: #FFF;
    }

    &:active {
        background-color: #c73435;
        color: #FFF;
    }
}

@media screen and (max-width: 600px) {
    .member-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/** Argonaut list ends */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f76c6c;
    height: 50px;
    margin-top: 2em;
    text-align: center;
    color: #fff;
    padding: 0.25em 0;
}

.svg-container {
    margin-left: 250px;
}