// colors
//$primary: #0093F5;
//$primary-light: #36aaf6;
//$primary-dark: #0065A8;
//$secondary: #F59000;
//$secondary-light: #f7a126;
//$secondary-dark: #c27303;
//$light: #efeaea;
//$dark: #1e1d1d;

// fonts sizes
//$navbar-font-size: 18px;

// body
$text-font: Lato, sans-serif;
$title-font: 'Titillium Web', sans-serif;

//spacings
$spacing: 8px;
$spacing2: $spacing * 2;
$spacing3: $spacing * 3;
$spacing4: $spacing * 4;
$spacing5: $spacing * 5;
$spacing6: $spacing * 6;